.inner-container{
    gap: 1.5rem;
    background: #004AAD;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #fff;
    text-align: center;
    color: #fff !important;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(0, 0, 0, 0);
}
.inner-container .button {
    background: #004AAD;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}